{% extends 'base.html' %}
{% load static %}
{% block content %}




  <main dir="rtl" id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Esther Boutique</h2>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="{% static 'assets/img/est.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

              Ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit.
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Zřízení:</strong> 1 May 2020</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.estherboutique.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +420 734 614 833</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> City : Prague, Czech</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>moda:</strong> Women clothes</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Brand:</strong> Esther</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>PhEmailone:</strong> denisek.juroska@gmail.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>onlineShoping:</strong> Available</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->




  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
{% endblock content %}
