{% extends 'base.html' %}
{% load static %}
{% block content %}


  <!-- ======= Hero Section ======= -->
  <section data-aos="fade-in" id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(static/assets/img/a11.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Esther Boutique </h2>
                <p class="animate__animated animate__fadeInUp">      </p>
                <a style="background-color: rgba(0, 0, 0, 0.316);" href="{% url 'shop' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp">nakupovat online</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(static/assets/img/a2.jfif)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown"> kde sedí móda</h2>
                <p class="animate__animated animate__fadeInUp">   </p>
                <a href="{% url 'shop' %}" class="btn-get-started scrollto animate__animated animate__fadeInUp">nakupovat online</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(static/assets/img/a0.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">  mít vkus módy</h2>
                <p style="font-size: 30px;" class="animate__animated animate__fadeInUp">    </p>
                <a href="{% url 'shop' %}"  class="btn-get-started scrollto animate__animated animate__fadeInUp" style="background-color:rgba(255, 217, 0, 0.657) ;">nakupovat online</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->



  <script>
    const select = (el, all = false) => {
    el = el.trim()
    if (all) {
      return [...document.querySelectorAll(el)]
    } else {
      return document.querySelector(el)
    }
  }
  
    let heroCarouselIndicators = select("#hero-carousel-indicators")
  let heroCarouselItems = select('#heroCarousel .carousel-item', true)
  
  heroCarouselItems.forEach((item, index) => {
    (index === 0) ?
    heroCarouselIndicators.innerHTML += "<li data-bs-target='#heroCarousel' data-bs-slide-to='" + index + "' class='active'></li>":
      heroCarouselIndicators.innerHTML += "<li data-bs-target='#heroCarousel' data-bs-slide-to='" + index + "'></li>"
  });
  
  </script>
  

  {% endblock content %}
